:root {
  --main-ft-color: #cbc7c7;
  --main-bd-color: #e2e8ed;
}
@font-face {
  font-family: roboto-light;
  src: url("../../assets/fonts/roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: gibson;
  src: url("../../assets/fonts/gibson/Gibson-Regular.ttf");
}
.wrapper {
  position: fixed;
  background: white;
  z-index: 99;
  bottom: 0rem;
  width: -webkit-fill-available;
}
.response-command {
  width: 50%;
  position: relative;
  left: 2rem;
}
.eclipse-img {
  position: relative;
  left: 24rem;
  width: 2.1rem;
  top: 0.2rem;
}
.att-img {
  position: relative;
  left: 0.4rem;
  width: 1.6rem;
  top: 0.2rem;
}
.inputfield {
  border: 1px solid #e0e0e0;
  outline: none;
}
.response-command {
  font-family: gibson;
  font-size: 1rem;
  outline: none;
  width: 72%;
  position: relative;
  left: 1rem;
  top: -0.3rem;
  border: none;
}
.response-command:focus {
  outline: none;
}

.head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: fixed;
  width: -webkit-fill-available;
  background: white;
  z-index: 99;
  top: 0rem;
}
.chat {
  position: absolute;
  top: 7rem;
  width: -webkit-fill-available;
}

.searchIcon {
  position: relative;
  left: 8rem;
  top: 2rem;
}
.brand {
  font-family: roboto-light;
  color: var(--main-ft-color, #cbc7c7);
  font-size: 30px;
  width: 110px;
  height: 41px;
}
.selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  position: fixed;
  height: 3rem;
  border: 1px solid #e0e0e0;
  width: -webkit-fill-available;
  top: 5rem;
  background: white;
  z-index: 99;
}
.buttons {
  position: relative;
  top: 0.8rem;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
.selectIcon1 {
  position: relative;
  left: -0.5rem;
  top: 0.2rem;
}
.selectIcon2 {
  position: relative;
  left: -0.5rem;
}
.selectText {
  position: fixed;
  font-family: gibson;
  color: var(--main-ft-color, #cbc7c7);
  text-decoration: none;
}
.bubble-text {
  /* width: 365px; */
  max-width: 49rem;
  min-width: 48rem;
  margin: auto;
  border: 4px solid var(--main-bd-color, #e2e8ed);
  padding: 20px;
  font-size: 2vmin;
  font-weight: 300;
  color: #4c5264;
  font-family: gibson;
  position: relative;
  left: -22rem;
}
.human-response {
  /* width: 119vh; */
  /* text-align: center; */
  /* font-size: 1.5rem; */
}
.human-response h2 {
  background: linear-gradient(to right, #5574f7, #60c3ff);
  max-width: 49rem;
  min-width: 48rem;
  font-size: 2vmin;
  margin: auto;
  border: 0px solid transparent;
  padding: 20px;
  font-weight: 300;
  color: white;
  font-family: gibson;
  position: relative;
  left: -5rem;
}
.human-response h2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #5276f9;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -1.5rem;
  top: 1rem;
}

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--main-bd-color, #e2e8ed);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
}
/* .sb12:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #5eb7fb;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 8rem;
} */
.bot-img2 {
  width: 3rem;
  height: 4rem;
  top: -4.3rem;
  position: relative;
  left: 65.5rem;
}

.bot-align {
  display: grid;
  /* height: 7rem; */
  grid-template-columns: repeat(2, 1fr);
}
.bot-img {
  width: 3rem;
  height: 10rem;
  position: relative;
  left: 3rem;
}
.option-bubble {
  border: 2px solid #2cd6ff;
  width: 26%;
  border-radius: 1rem;
  font-size: 0.5rem;
  padding: 0.1rem;
  color: #4c5264;
  font-family: gibson;
  position: relative;
  height: 24%;
  text-align: -webkit-left;
  margin: 0.5rem;
  left: 39.6rem;
  top: -2rem;
}

/* .sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
} */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .head {
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .head {
  }
  .bubble-text {
    max-width: 38rem;
    min-width: 38rem;
    margin: 50px auto;
    border: 4px solid var(--main-bd-color, #e2e8ed);
    padding: 20px;
    font-weight: 300;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    left: -25rem;
  }
  .bot-align {
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .head {
  }
  .human-response {
    /* width: 30vh;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    padding: 23px;
    text-align: center;
    font-size: 0.5rem;
    height: 2rem;
    font-weight: 100;
    color: #ffff;
    font-family: gibson;
    position: relative;
    left: 8vh; */
  }
  .bubble-text {
    max-width: 49rem;
    min-width: 48rem;
    margin: auto;
    border: 4px solid var(--main-bd-color, #e2e8ed);
    padding: 20px;
    font-size: 2vmin;
    font-weight: 300;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    left: 7rem;
  }
  .human-response[_ngcontent-c1] h2[_ngcontent-c1] {
    background: linear-gradient(to right, #5574f7, #60c3ff);
    max-width: 49rem;
    min-width: 48rem;
    font-size: 2vmin;
    margin: auto;
    border: 0px solid transparent;
    padding: 20px;
    font-weight: 300;
    color: white;
    font-family: gibson;
    position: relative;
    left: 7rem;
  }
  .bot-img2[_ngcontent-c1] {
    width: 3rem;
    height: 4rem;
    top: -4.3rem;
    position: relative;
    left: 60.5rem;
  }
  .option-bubble[_ngcontent-c1] {
    border: 2px solid #2cd6ff;
    width: 42%;
    border-radius: 1rem;
    font-size: 0.5rem;
    padding: 0.1rem;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    height: 24%;
    text-align: -webkit-left;
    margin: 0.5rem;
    left: 24.6rem;
    top: -2rem;
  }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .head {
  }
  .bot-align{
    display: grid;
    grid-template-columns: 0% 71%;
  }
  .bubble-text {
    max-width: 10rem;
    min-width: 34rem;
    margin: 50px auto;
    border: 4px solid var(--main-bd-color, #e2e8ed);
    padding: 20px;
    font-weight: 300;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    left: 9rem;
  }

  .option-bubble {
    border: 2px solid #2cd6ff;
    width: 31%;
    border-radius: 1rem;
    font-size: 0.5rem;
    padding: 0.1rem;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    height: 24%;
    text-align: -webkit-left;
    margin: 0.5rem;
    left: 24.6rem;
    top: -2rem;
  }
  .human-response h2 {
    background: linear-gradient(to right, #5574f7, #60c3ff);
    max-width: 17rem;
    min-width: 36rem;
    font-size: 2vmin;
    margin: auto;
    border: 0px solid transparent;
    padding: 20px;
    font-weight: 300;
    color: white;
    font-family: gibson;
    position: relative;
  }
  .bot-img2 {
    width: 3rem;
    height: 4rem;
    top: -4.3rem;
    position: relative;
    left: 43.5rem;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .head {
  }
  .bot-align[_ngcontent-c1] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .human-response {
    /* width: 23vh;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    padding: 23px;
    text-align: center;
    font-size: 0.5rem;
    height: 2rem;
    font-weight: 100;
    color: #ffff;
    font-family: gibson;
    position: relative;
    left: 8vh; */
  }
  .bot-img2[_ngcontent-c1] {
    width: 3rem;
    height: 4rem;
    top: -3.9rem;
    position: relative;
    left: 14.5rem;
  }
  .bubble-text[_ngcontent-c1] {
    max-width: 21rem;
    min-width: 22rem;
    border: 4px solid var(--main-bd-color, #e2e8ed);
    padding: 20px;
    font-weight: 300;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    left: -5 rem;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* @media (min-width: 1085px) and (max-width: 431px) {
  head{
    background: red;
  } */





@media (min-width: 320px) and (max-width: 480px) {
  .msg {
    display: grid;
    width: 88%;
    justify-content: start;
  }
  .selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: fixed;
    height: 3rem;
    border: 1px solid #e0e0e0;
    width: -webkit-fill-available;
    top: 4.5rem;
    background: white;
    z-index: 99;
  }
  .head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    position: fixed;
    width: -webkit-fill-available;
    top: 0rem;
  }
  .buttons {
    position: relative;
    top: 0.8rem;
    width: inherit;
    left: 2rem;
  }
  .searchIcon {
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .human-response {
    /* width: 11rem;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    padding: 23px;
    text-align: center;
    font-size: 0.5rem;
    height: 2rem;
    font-weight: 100;
    color: #ffff;
    font-family: gibson;
    position: relative;
    left: 2vh; */
  }

  .human-response h2 {
    background: linear-gradient(to right, #5574f7, #60c3ff);
    max-width: 15rem;
    min-width: 15rem;
    margin: auto;
    /* border: 4px solid transparent; */
    font-size: unset;
    padding: 20px;
    font-weight: 300;
    color: white;
    font-family: gibson;
    position: relative;
    left: -3rem;
  }
  .bubble-text[_ngcontent-c1] {
    width: 0;
    max-width: 15rem;
    min-width: 15rem;
    margin: 50px auto;
    border: 4px solid var(--main-bd-color, #e2e8ed);
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    left: 0rem;
  }
  .bot-img[_ngcontent-c1] {
    width: 3rem;
    height: 10rem;
    position: relative;
    left: 0.5rem;
  }
  .bot-align[_ngcontent-c1] {
    display: grid;
    grid-template-columns: 20% 3%;
  }
  .option-bubble[_ngcontent-c1] {
    border: 2px solid #2cd6ff;
    width: 55%;
    border-radius: 0.5rem;
    font-size: 0.5rem;
    position: relative;
    height: 24%;
    text-indent: 2vw;
    text-align: -webkit-match-parent;
    margin: 0.8rem;
    color: #4c5264;
    font-family: gibson;
    left: 8.5rem;
    top: -3rem;
  }
  .speech-bubble-response {
    height: 5rem;
    margin-top: -5rem;
  }
  .eclipse-img {
    position: relative;
    left: 2rem;
    width: 2.1rem;
    top: 0.2rem;
  }
  .att-img {
    position: relative;
    left: 0.4rem;
    width: 1.6rem;
    top: 0.2rem;
  }
  .inputfield {
    border: 1px solid #e0e0e0;
    outline: none;
  }
  .response-command {
    font-family: gibson;
    font-size: 1rem;
    outline: none;
    width: 72%;
    position: relative;
    left: 1rem;
    top: -0.3rem;
    border: none;
  }
  .response-command:focus {
    outline: none;
  }
  .bot-img2 {
    width: 3rem;
    height: 4rem;
    top: -3.9rem;
    position: relative;
    left: 19.5rem;
  }
}
