.sessionId-table {}

.view {
  display: grid;
  justify-content: center;

}

.table-row {
  cursor: pointer;

}

td {
  display: grid;
  justify-items: center;
}

th {
  border: none;
}

h1 {
  font-size: small;
}

td:hover {
  background: rgba(55, 255, 0, 0.258);
}
