.sessionId-table {
  border: none;
  margin-top: 4em;
}

.view {
  display: grid;
  justify-content: center;
  margin: 2em;
}
.head {
  text-align: center;
  border: 1em solid black;
  position: fixed;
  background: azure;
  width: -moz-available;
  margin-top: -2em;
  margin-left: -1em;
  margin-right: -0.5em;
  width: 37.5%;
}

.table-row {
  cursor: pointer;
}

td {
  display: grid;
  justify-items: center;
  border-color: rgb(13, 13, 54);
  color: #fff;
  box-shadow: 0 0 40px 40px rgba(10, 10, 10, 0.98) inset, 0 0 0 0 rgb(0, 0, 0);
  transition: all 150ms ease-in-out;
}

th {
  border: none;
}

h1 {
  font-size: small;
}

td:hover {
  border-radius: 2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  font-size: 4em;
}
.view {
  height: 100%;
  overflow: auto;
}
.session-id {
  height: 100%;
  overflow: hidden;
  margin-top: -6rem;
}
