<div class="session-id">
  <div class="view">
    <ng-container *ngIf="sessionIdsAvailable; else elseTemplate1">
      <table class="sessionId-table" border="1">
        <tr>
          <th>sessionId</th>
        </tr>
        <tbody
          *ngFor="let availableSession of allAvailableSessions; let i = index"
        >
          <tr class="table-row">
            <a (click)="selectedSessionId(availableSession)">
              <td>
                <h1>id no: {{ i + 1 }}</h1>
                <h1 style="text-align:center">
                  session id: {{ availableSession }}
                </h1>
              </td>
            </a>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #elseTemplate1>
      <h2 style="padding:34%">There are no available chat sessions.</h2>
    </ng-template>
  </div>
</div>
