.sessionId-table {
border:none;
}

.view {
  display: grid;
  justify-content: center;
  margin: 2em;
}
.head{
text-align: center;
border: 1em solid black;
}

.table-row {
  cursor: pointer;
}

td {
  display: grid;
  justify-items: center;
}

th {
  border: none;
}

h1 {
  font-size: small;
}

td:hover {
  background: rgba(55, 255, 0, 0.258);
  font-size: 4em
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  font-size: 4em
}

.msg {
}
