/* div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
} */
.sessionId-table {
  margin: 10%;
}
.table-row {
  cursor: pointer;
}

.split-screen {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90%;
  overflow: hidden;
}
