/* div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
} */
body {
  overflow: hidden;
}
.sessionId-table {
  margin: 10%;
}
.table-row {
  cursor: pointer;
}
.image {
  width: 12rem;
  height: 4.5rem;
  margin-left: 2rem;
}

.split-screen {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90%;
  overflow: hidden;
}
.main-heading {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  box-shadow: #263131 0.1em 0.4em 0.4em;
  margin-top: -0.2em;
  color: white;
  position: fixed;
  background: #1c0306;
  width: -webkit-fill-available;
  z-index: 99;
}
