/* div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
} */
body {
  overflow: hidden;
}
.sessionId-table {
  margin: 10%;
}
.table-row {
  cursor: pointer;
}

.split-screen {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90%;
  overflow: hidden;
}
.main-heading {
  border: 2px solid black;
  text-align: center;
  box-shadow: #263131 0.1em 0.4em 0.4em;
  margin-top: -0.2em;
  /* background: url("../../../../../../Pictures/5730ad21-400a-48de-bfca-575b94214cf3.jpeg"); */
}
