<!-- The content below is only a placeholder and can be replaced. -->
<div class="chat-view">
  <!-- <div class="head">
    <a class="agent-btn" routerLink="/home" (click)="endChat()">chat to bot</a>
    <h1>chat bot agent!</h1>
  </div> -->
  <div class="chat" id="chat">
    <div
      *ngFor="let messagesAndResponse of messagesAndResponses"
      class="{{ messagesAndResponse.style }}"
    >
      <div *ngIf="messagesAndResponse.image">
        <img src="{{ messagesAndResponse.image }}" />
      </div>
      <ng-container *ngIf="messagesAndResponse.number; else elseTemplate">
        <h2 class="bubble-text">
          {{ messagesAndResponse.number }}. {{ messagesAndResponse.message }}
        </h2>
      </ng-container>
      <ng-template #elseTemplate>
        <h2 class="bubble-text">{{ messagesAndResponse.message }}</h2>
      </ng-template>
    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="wrapper">
    <div class="selection">
      <div class="inputField">
        <h1 style="color: white; font-size: 1em">+</h1>
        <input
          type="text"
          class="response-command"
          name="responseCommand"
          placeholder="Response Command"
          (keypress)="sendMessage($event)"
        />
        <button (click)="sendMessage()">send</button>
      </div>
    </div>
  </div>
</div>
