.inputField {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(2, auto);
  justify-content: stretch;
  /* justify-content: space-between; */
  align-items: center;
  /* grid-gap: inherit; */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.agent-btn {
  background: #e74c3cba;
  font-size: 0.7rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: unset;
  color: white;
  padding: 1em;
  -webkit-font-kerning: unset;
  font-kerning: unset;
  font-style: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  border-radius: 1em;
  left: 44em;
  margin: 10em;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.landing {
  /* background: url(../../assets/infinity-tools-logo.jpeg); */
  height: 32rem;
  background-repeat: no-repeat;
  color: white;
  margin-left: -1rem;
  background-size: contain;
  margin-top: 7.4rem;
}

.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: whitesmoke;
  text-align: center;
  position: fixed;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  margin-top: 1em;
  margin-left: -5em;
  width: -moz-available;
}

.response-number {
  height: min-content;
  width: -webkit-fill-available;
}

.bot-option {
  position: relative;
  color: white;
  display: grid;
  background: #717171;
  border-radius: 0.4em;
  margin-top: 1em;
  font-size: 1.5em;
  max-width: 9em;
  cursor: pointer;
  /* left: -20%; */
  /* padding: 0.3em; */
}
.agent-speech-bubble {
  position: relative;
  display: grid;
  text-align: center;
  background: white;
  border: 0.1em solid black;
  border-radius: 0.4em;
  right: -20%;
  font-size: 2em;
  top: 0.5em;
  max-width: 9em;
}
.speech-bubble {
  position: relative;
  display: grid;
  background: #717171;
  text-align: center;
  border-radius: 0.4em;
  left: -20%;
  margin-top: 1em;
  color: white;
  font-size: 2em;
  max-width: 9em;
  padding: 0.3em;
}

.speech-bubble-response {
  position: relative;
  display: grid;
  text-align: center;
  background: white;
  border: 0.1em solid black;
  border-radius: 0.4em;
  right: -20%;
  font-size: 2em;
  top: 0.5em;
  max-width: 9em;
}
/* .bot-option:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-left-color: #83bb00;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
} */
.agent-speech-bubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-left-color: #000000e6;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.3rem;
  margin-right: -0.8rem;
}
.speech-bubble-response:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-left-color: #000000e6;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.3rem;
  margin-right: -0.8rem;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
  border-right-color: #717171;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0em;
  margin-left: -0.4em;
}

.reset-btn {
  border: 1em solid #dddddd;
  background: #dddddd;
  font-size: small;
  text-align: center;
  font-style: unset;
  padding: 2em;
  /* text-align-last: center; */
  -webkit-font-kerning: unset;
  font-kerning: unset;
  font-style: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  padding: 0.1em;
  border-radius: 1em;
  left: 44em;
  margin: 1em;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: black;
  /* justify-items: inherit; */
  /* display: grid; */
  /* justify-content: center; */
  /* justify-items: center; */
  /* border-radius: 2em; */
  /* width: 7em; */
}

.bubble-text {
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: center;
}
.chat {
  display: grid;
  justify-content: center;
  grid-template-rows: -webkit-max-content;
  height: 32rem;
  grid-gap: 0.1em;
  overflow: auto;
  margin-top: 4.2rem;
}
.chat-view {
  padding-bottom: 3em;
  font-size: 1em;
  text-align: center;
  display: grid;
  /* background: url("https://i.pinimg.com/originals/a4/b8/6a/a4b86ac42c3bf5c017d79be64377fdf1.png"); */
}

.wrapper {
  margin-top: 3em;
}

.nav {
  /* padding: 0.1em; */
  padding: 0.1em;
  background: #6a60600f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2em;
  font-size: 0.7em;
  justify-items: center;
  grid-gap: 0.5em;
  width: -webkit-fill-available;
  margin-left: 3em;
  margin-right: 3em;
  bottom: 14em;
  position: fixed;
}

.selection {
  padding: 0.2em;
  bottom: 2em;
  margin-bottom: -1.5em;
  background: #1d0305;
  position: fixed;
  margin-left: -1em;
  width: 100%;
}

.btn {
  border-radius: 4em;
  background: #d1e3afb8;
}

/* h1 {
    display: none;
    font-size: none;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
  } */

.whatever {
  width: 30%;
}

.head {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 9;
  color: whitesmoke;
  text-align: center;
  height: 12%;
}

/* iphone 6,7,8 media querry */
