<!-- The content below is only a placeholder and can be replaced. -->
<div class="chat-view">
  <div class="head" *ngIf="!showGreeting">
    <a class="agent-btn" routerLink="/home" (click)="endChat()">End Chat </a>
  </div>

  <h2 *ngIf="showGreeting" class="landing">
    Welcome to Chat bot, Select session id.
  </h2>
  <div class="chat" id="chat">
    <div
      *ngFor="let messagesAndResponse of messagesAndResponses"
      class="{{ messagesAndResponse.style }}"
    >
      <div *ngIf="messagesAndResponse.image">
        <img src="{{ messagesAndResponse.image }}" />
      </div>
      <ng-container *ngIf="messagesAndResponse.number; else elseTemplate1">
        <h2 class="bubble-text">
          {{ messagesAndResponse.number }}. {{ messagesAndResponse.message }}
        </h2>
      </ng-container>
      <ng-template #elseTemplate1>
        <h2 class="bubble-text">{{ messagesAndResponse.message }}</h2>
      </ng-template>
    </div>
  </div>
  <div class="wrapper">
    <div class="selection" *ngIf="!showGreeting">
      <div class="inputField">
        <input
          type="text"
          class="response-command"
          name="responseCommand"
          placeholder="Response Command"
          (keypress)="sendMessage($event)"
          #message
        />
        <button (click)="sendMessage(message)">send</button>
      </div>
    </div>
  </div>
</div>
