<!-- The content below is only a placeholder and can be replaced. -->
<div class="msg">
  <div class="head">
    <!-- <button class="reset-btn" (click)="Reset(true)">{{userSessionId}} ffgf</button> -->
    <h1>chat bot agent!</h1>
  </div>
  <div class="chat">
    <div *ngFor="let messagesAndResponse of messagesAndResponses" class="{{ messagesAndResponse.style }}">
      <div *ngIf="messagesAndResponse.image">
        <img src="{{ messagesAndResponse.image }}" />
      </div>
      <h2 class="bubble-text"> {{ messagesAndResponse.message }}</h2>
    </div>
    <router-outlet></router-outlet>
  </div>


  <div class="wrapper">
    <div class="selection">
      <div class="inputField">
        <h1 style="color: white; font-size: 1em">+</h1>
        <input type="text" class="response-command" name="responseCommand" placeholder="Response Command" (keypress)="sendMessage($event)" />
        <button>send</button>
      </div>
    </div>
  </div>
</div>