<!-- The content below is only a placeholder and can be replaced. -->

<div class="msg">
  <div class="head">
    <h1>{{ title }}!</h1>
  </div>
  <div class="chat">
    <div *ngFor="let messagesAndResponse of messagesAndResponses" class="{{ messagesAndResponse.style }}">
      <h2 class="bubble-text">{{ messagesAndResponse.data }}</h2>
    </div>
  </div>

  <div class="wrapper">
    <div class="nav">
      <h2>Available Options</h2>
      <button class="reset-btn btn" (click)="Reset()">Reset</button>
    </div>
    <div class="selection">
      <button (click)="showOptions(btn)" class="btn" *ngFor="let btn of btns">
        {{ btn.option }}
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>