<!-- The content below is only a placeholder and can be replaced. -->
<header>
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>
</header>

<div class="msg">
  <div class="speech-bubble">
    <h2 class="bubble-text">
      hi there, please select one of the following options below
    </h2>
  </div>

  <div class="wrapper">
    <div class="nav"><h2>Available Options</h2></div>
    <div class="selection">
      <button class="btn" *ngFor="let btn of btns">{{ btn }}</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
