/* div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
} */
.speech-bubble[_ngcontent-c0][_ngcontent-c0][_ngcontent-c0] {
  position: relative;
  display: grid;
  left: -250px;
  background: #00bb6f;
  border-radius: 0.4em;
  margin: 1em;
  font-size: 2em;
  max-width: 9em;
  padding: 0.3em;
}

.speech-bubble-response[_ngcontent-c0][_ngcontent-c0][_ngcontent-c0] {
	position: relative;
  display: grid;
  right: -250px;
	background: #00aabb;
	border-radius: .4em;
  margin: 1em;
  font-size: 2em;
  max-width: 9em;
  padding: 0.3em;
  /* margin-left: 80%; */

}
.speech-bubble-response[_ngcontent-c0][_ngcontent-c0]:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.speech-bubble[_ngcontent-c0][_ngcontent-c0]:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
  border-right-color: #00bb6f;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0em;
  margin-left: -0.5em;
}

.bubble-text {
  font-size: 0.5em;
}

.msg {
  padding-bottom: 3em;
  font-size: 1em;
  text-align: center;
  display: grid;
}
.wrapper{
  margin-top: 12em;
}
.nav {
  padding: 0.1em;
  text-align: center;
}

.selection {
  padding: 2em;
  background: #80808096;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.5em, 1fr));
  border-radius: 2em;
  justify-items: center;
  grid-gap: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
}

.btn {
  border-radius: 4em;
  width: 50%;
  background: #d1e3afb8;
  height: 100%;
}
/* h1 {
  display: none;
  font-size: none;
  margin-block-start: none;
  margin-block-end: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
} */
.chat{
  display: grid;
  justify-content: center;
  grid-template-rows: max-content;

}
.whatever{
  width: 30%
}