/* div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
} */
.speech-bubble[_ngcontent-c0][_ngcontent-c0][_ngcontent-c0] {
  position: relative;
  display: grid;
  background: #00bb6f;
  border-radius: 0.4em;
  margin: 1em;
  font-size: 2em;
  max-width: 9em;
  padding: 0.3em;
}

.speech-bubble-response[_ngcontent-c0][_ngcontent-c0][_ngcontent-c0] {
  position: relative;
  display: grid;
  background: #00aabb;
  border-radius: 0.4em;
  margin: 1em;
  font-size: 2em;
  max-width: 9em;
  padding: 0.3em;
  /* margin-left: 80%; */
}
.speech-bubble-response[_ngcontent-c0][_ngcontent-c0]:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.speech-bubble[_ngcontent-c0][_ngcontent-c0]:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
  border-right-color: #00bb6f;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0em;
  margin-left: -0.5em;
}

.bubble-text {
  font-size: 0.5em;
}

.msg {
  padding-bottom: 3em;
  height: max-content;
  font-size: 1em;
  text-align: center;
  display: grid;
  /* background: url("https://i.pinimg.com/originals/a4/b8/6a/a4b86ac42c3bf5c017d79be64377fdf1.png"); */
}
.wrapper {
  margin-top: 12em;
}
.nav {
  padding: 0.1em;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  bottom: 8em;
  position: fixed;
}

.selection {
  padding: 2em;
  background: #0e0e0e;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.5em, 1fr));
  border-radius: 2em;
  justify-items: center;
  grid-gap: 0.5em;
  width: -webkit-fill-available;
  margin-left: 3em;
  margin-right: 3em;
  bottom: 2em;
  position: fixed;
}

.btn {
  border-radius: 4em;
  width: 50%;
  background: #d1e3afb8;
  height: 100%;
}
/* h1 {
  display: none;
  font-size: none;
  margin-block-start: none;
  margin-block-end: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
} */
.chat {
  display: grid;
  grid-template: "speech-bubble speech-bubble-response";
  justify-content: center;
}
.whatever {
  width: 30%;
}
.head {
  color: whitesmoke;
  text-align: center;
  background: #060606;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .selection {
    padding: 1em;
    background: #0e0e0e;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5em, 1fr));
    border-radius: 2em;
    justify-items: center;
    grid-gap: 0.5em;
    width: -webkit-fill-available;
    margin-left: 3em;
    margin-right: 3em;
    bottom: 2em;
    position: fixed;
  }
  .btn {
    border-radius: 22em;
    width: 99%;
    background: #d1e3afb8;
    font-size: xx-small;
    height: 100%;
  }
  .nav {
    padding: 0.1em;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    bottom: 0em;
    visibility: hidden;
    position: fixed;
  }
}
