.agent-bubble {
    /* border: 1px solid black; */
    text-align: center;
    padding: 1em;
    border-radius: 5em;
    font-size: 1em;
    /* margin-left: -0.1em; */
    background: #45bc70;
    width: fit-content;
}
.speech-bubble-response{
    position: relative;
    display: grid;
    background: #00aabb;
    border-radius: 0.4em;
    right: -20%;
    font-size: 2em;
    top: 0.5em;
    max-width: 9em;
    /* margin-left: 80%; */
  }
  
  .speech-bubble-response:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-left-color: #00aabb;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
  }
  
  .speech-bubble-response{
    position: relative;
    display: grid;
    background: #00aabb;
    border-radius: 0.4em;
    right: 0%;
    margin: 1em;
    font-size: 2em;
    max-width: 9em;
    padding: 0.3em;
    /* margin-left: 80%; */
  }