:root {
  --main-ft-color: #cbc7c7;
  --main-bd-color: #e2e8ed;
}
@font-face {
  font-family: roboto-light;
  src: url("../../assets/fonts/roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: gibson;
  src: url("../../assets/fonts/gibson/Gibson-Regular.ttf");
}
.wrapper {
  position: fixed;
  background: white;
  z-index: 99;
  bottom: 0rem;
  width: -webkit-fill-available;
}
.response-command {
  width: 50%;
  position: relative;
  left: 2rem;
}
.eclipse-img {
  position: relative;
  left: 2rem;
  width: 2.1rem;
  top: 0.2rem;
}
.att-img {
  position: relative;
  left: 0.4rem;
  width: 1.6rem;
  top: 0.2rem;
}
.inputfield {
  border: 1px solid #e0e0e0;
  outline: none;
}
.speech-bubble {
  max-width: 49rem;
  min-width: 48rem;
  margin: auto;
  border: 4px solid var(--main-bd-color, #e2e8ed);
  padding: 20px;
  font-size: 2vmin;
  font-weight: 300;
  color: #4c5264;
  font-family: gibson;
  position: relative;
  left: 6rem;
}
.speech-bubble-response {
  max-width: 49rem;
  min-width: 48rem;
  margin: auto;
  background: linear-gradient(to right, #5574f7, #60c3ff);
  border: 0px solid var(--main-bd-color, #e2e8ed);
  padding: 20px;
  font-size: 2vmin;
  font-weight: 300;
  color: white;
  font-family: gibson;
  position: relative;
  left: 15rem;
}
/* .response-command {
  font-family: gibson;
  font-size: 1rem;
  outline: none;
  width: 72%;
  position: relative;
  left: 1rem;
  top: -0.3rem;
  border: none;
} */
.response-command:focus {
  outline: none;
}

.head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: fixed;
  width: -webkit-fill-available;
  background: white;
  z-index: 99;
  top: 0rem;
}
.chat {
  display: grid;
  justify-content: start;
  grid-template-rows: -webkit-max-content;
  height: 36rem;
  grid-gap: 0.9em;
  overflow: auto;
  margin-top: 7.2rem;
}

.searchIcon {
  position: relative;
  left: 8rem;
  top: 2rem;
}
.brand {
  font-family: roboto-light;
  color: var(--main-ft-color, #cbc7c7);
  font-size: 4vmin;
  width: auto;
  height: 41px;
}
.selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  position: fixed;
  height: 3rem;
  border: 1px solid #e0e0e0;
  width: -webkit-fill-available;
  top: 5rem;
  background: white;
  z-index: 99;
}
.buttons {
  position: relative;
  top: 0.8rem;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
.selectIcon1 {
  position: relative;
  left: -0.5rem;
  top: 0.2rem;
}
.selectIcon2 {
  position: relative;
  left: -0.5rem;
}
.selectText {
  position: fixed;
  font-family: gibson;
  color: var(--main-ft-color, #cbc7c7);
  text-decoration: none;
}
.option-bubble {
  width: 365px;
  margin: 50px auto;
  border: 4px solid var(--main-bd-color, #e2e8ed);
  padding: 20px;
  text-align: center;
  font-weight: 300;
  color: #4c5264;
  font-family: gibson;
  position: relative;
}
.human-response {
  width: 75vh;
  background: linear-gradient(to right, #5574f7, #60c3ff);
  padding: 23px;
  text-align: center;
  font-size: 0.5rem;
  height: 2rem;
  font-weight: 100;
  color: #ffff;
  font-family: gibson;
  position: relative;
  left: 8vh;
}

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--main-bd-color, #e2e8ed);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
}
.sb12:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #5eb7fb;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -19px;
}
.bot-img2 {
  width: 3rem;
  height: 4rem;
  top: -3.9rem;
  position: relative;
  left: 18.5rem;
}

.bot-align {
  display: grid;
  /* height: 7rem; */
  grid-template-columns: 0% 65%;
}
.bot-img {
  width: 3rem;
  height: 10rem;
  position: relative;
  left: 3rem;
}
.option-bubble {
  border: 2px solid #2cd6ff;
  /* width: 26%; */
  border-radius: 1rem;
  padding: 0.1rem;
  color: #4c5264;
  font-family: gibson;
  font-size: 2vmin;
  position: relative;
  /* height: 24%; */
  text-align: -webkit-left;
  margin: 0.5rem;
  left: 12rem;
  top: 0rem;
}

/* .sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
} */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .head {
  }
  .brand[_ngcontent-c1] {
    font-family: roboto-light;
    color: var(--main-ft-color, #cbc7c7);
    font-size: 4vmin;
    width: auto;
    height: 41px;
  }
  .chat[_ngcontent-c1] {
    /* display: grid;
    justify-content: start;
    grid-template-rows: -webkit-max-content; */
    /* height: 49rem; */
    /* grid-gap: 0.9em;
    overflow: auto;
    margin-top: 7.2rem; */
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .head {
  }
  .brand {
    font-family: roboto-light;
    color: var(--main-ft-color, #cbc7c7);
    font-size: 4vmin;
    width: 110px;
    height: 41px;
    position: relative;
    top: -1rem;
    left: -5rem;
  }
  .option-bubble[_ngcontent-c1] {
    border: 2px solid #2cd6ff;
    border-radius: 1rem;
    padding: 0.1rem;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    text-align: -webkit-left;
    margin: 0.5rem;
    left: 28rem;
    top: 0rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .head {
  }
  .human-response {
    width: 30vh;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    padding: 23px;
    text-align: center;
    font-size: 0.5rem;
    height: 2rem;
    font-weight: 100;
    color: #ffff;
    font-family: gibson;
    position: relative;
    left: 8vh;
  }

  .chat[_ngcontent-c1] {
    display: grid;
    justify-content: start;
    grid-template-rows: -webkit-max-content;
    height: unset;
    grid-gap: 0.9em;
    overflow: auto;
    margin-top: 7.2rem;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .head {
  }
  .bot-align[_ngcontent-c1] {
    display: grid;
    grid-template-columns: 0% 71%;
  }
  .brand[_ngcontent-c1] {
    font-family: roboto-light;
    color: var(--main-ft-color, #cbc7c7);
    font-size: 4vmin;
    width: auto;
    height: 41px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .head {
  }
  .bot-align[_ngcontent-c1] {
    display: grid;
    grid-template-columns: 0% 95%;
  }
  .human-response {
    width: 23vh;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    padding: 23px;
    text-align: center;
    font-size: 0.5rem;
    height: 2rem;
    font-weight: 100;
    color: #ffff;
    font-family: gibson;
    position: relative;
    left: 8vh;
  }
  .bot-img2[_ngcontent-c1] {
    width: 3rem;
    height: 4rem;
    top: -3.9rem;
    position: relative;
    left: 14.5rem;
  }
  .brand[_ngcontent-c1] {
    font-family: roboto-light;
    color: var(--main-ft-color, #cbc7c7);
    font-size: 4vmin;
    width: auto;
    height: 41px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .msg {
    display: grid;
    width: 88%;
    justify-content: start;
  }
  .selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: fixed;
    height: 3rem;
    border: 1px solid #e0e0e0;
    width: -webkit-fill-available;
    top: 4.5rem;
    background: white;
    z-index: 99;
  }
  .head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    position: fixed;
    width: -webkit-fill-available;
    top: 0rem;
  }
  .buttons {
    position: relative;
    top: 0.8rem;
    width: inherit;
    left: 2rem;
  }
  .searchIcon {
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .human-response {
    width: 11rem;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    padding: 23px;
    text-align: center;
    height: 2rem;
    font-weight: 100;
    color: #ffff;
    font-family: gibson;
    position: relative;
    left: 2vh;
  }
  .speech-bubble[_ngcontent-c1] {
    width: 14rem;
    margin: auto;
    border: 4px solid var(--main-bd-color, #e2e8ed);
    padding: 20px;
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
    color: #4c5264;
    font-family: gibson;
    position: relative;
    left: 2rem;
  }
  .speech-bubble-response {
    width: 70vmin;
    margin: auto;
    padding: 1.1vmin;
    text-align: -webkit-auto;
    font-weight: 300;
    color: white;
    font-size: xx-large;
    font-family: gibson;
    position: relative;
    background: linear-gradient(to right, #5574f7, #60c3ff);
    left: 4rem;
    top: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .bot-img[_ngcontent-c1] {
    width: 3rem;
    height: 10rem;
    position: relative;
    left: 0.5rem;
  }
  .bot-align[_ngcontent-c1] {
    display: grid;
    grid-template-columns: 20% 3%;
  }
  .option-bubble {
    border: 2px solid #2cd6ff;
    width: 55%;
    border-radius: 0.5rem;
    position: relative;
    height: 24%;
    text-indent: 2vw;
    font-size: large;
    text-align: -webkit-match-parent;
    margin: 0.8rem;
    color: #4c5264;
    font-family: gibson;
    left: 7.5rem;
    top: 0rem;
  }
  .chat {
    display: unset;
    justify-content: flex-start;
    grid-template-rows: -webkit-max-content;
    height: unset;
    grid-gap: 0.9em;
    font-size: 0.6rem;
    overflow: unset;
    margin-top: 7.2rem;
  }
}
/* .speech-bubble-response {
    height: 5rem;
    margin-top: -5rem;
  } */
.eclipse-img {
  position: relative;
  left: 9rem;
  width: 2.1rem;
  top: 0.4rem;
}
.att-img {
  position: relative;
  left: 0.4rem;
  width: 1.6rem;
  top: 0.2rem;
}
.inputfield {
  border: 1px solid #e0e0e0;
  outline: none;
}
.response-command {
  font-family: gibson;
  font-size: 1rem;
  outline: none;
  width: 69%;
  position: relative;
  left: 1rem;
  top: -0.3rem;
  border: none;
}
.response-command:focus {
  outline: none;
}
.bot-img2 {
  width: 3rem;
  height: 4rem;
  top: -3.9rem;
  position: relative;
  left: 12.5rem;
}
